@use "../helpers/variables/colors" as *;

@use "../helpers/mixins/media_queries" as *;

.footer {

    background-color: $bg-black;

    .foot-title {

        font: {

            weight: 600;

            size: 20px;

        };

        letter-spacing: 1px;

        color: $white-color;

    }

    .foot-link {

        display: block;

        letter-spacing: 1px;

        color: $white-color;

    }

}
